@model IEnumerable<TallerMVC2_MJ.Models.MJBurger>

@{
    ViewData["Title"] = "Index";
}

<h1>Crea una hamburguesa</h1>

<p>
    <a asp-action="Create">MJCreate New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WithCheese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithCheese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BurgerId">MJEdit</a> |
                <a asp-action="Details" asp-route-id="@item.BurgerId">MJDetails</a> |
                <a asp-action="Delete" asp-route-id="@item.BurgerId">MJDelete</a>
            </td>
        </tr>
}
    </tbody>
</table>
